.footer-signup {
  background: $alt-blue;

  @each $breakpoint, $value in $grid-column-gutter {
    $padding: rem-calc($value);

    @include breakpoint($breakpoint) {
      padding: $padding $padding * 2;
    }
  }
}

.main-footer {
  padding: rem-calc(30) 0;
  border-top: 1px solid $line-color;

  font-size: 0.9rem;

  @include breakpoint(small only) {
    padding-top: rem-calc(25);
  }

  @include breakpoint(large) {
    border-bottom: 1px solid $line-color;
    margin-bottom: rem-calc(30);
  }
}

.footer-container {
  position: relative;
}

.main-footer-button-container {
  margin-top: rem-calc(30);

  font-size: 2rem;

  .button {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

.main-footer-social-buttons {
  font-size: 1.4rem;
  margin-bottom: rem-calc(5%);

  a {
    padding: rem-calc(4);
  }
  @include breakpoint(small only) {
    padding-top: map-get($grid-column-gutter, small);
    text-align: center;
  }
  @include breakpoint(medium only) {
    padding-top: rem-calc(16px);
  }
}

.footer-pearl {
  position: absolute;
  top: 0;
  #{$language-end}: 0;

  @include breakpoint(small only) {
    #{$language-end}: 0.625rem;
    img {
      width: 165px;
    }
  }

  @include breakpoint(medium only) {
    #{$language-end}: 0.625rem;
    img {
      width: 183px;
    }
  }
}

.footer-logo-container {
  @include hide-for-only(medium);
  @include breakpoint(small only) {
    padding-bottom: map-get($grid-column-gutter, small);

    img {
      padding-#{$language-start}: rem-calc(10);
      width: 90px;
    }
  }
}

.footer-alt-logo-container {
  @include show-for-only(medium);
  height: rem-calc(55);

  img {
    height: rem-calc(50);
  }
}

@include breakpoint(small only) {
  #loginModal {
    .inner {
      padding-top: rem-calc(40);
    }
  }
}
