$global-text-direction: rtl;

$language-start: right;
$language-end: left;

$body-font-family: 'Open Sans Hebrew', Helvetica, Arial, sans-serif;

$header-font-family: 'almoni-tzar', 'Open Sans', Helvetica, Arial, sans-serif !default;
