{% extends "base.html" %}{% load i18n thumbnail %}

{% block title %}{{ object.name }} - {% trans "Knowledge Centers" %} - {{ block.super }}{% endblock %}

{% block content %}
  <div id="knowledge-center-outer">
    <div class="title-outer">
      <h1>{{ object.name }}</h1>
      <select id="knowledge-centers-switcher" data-base-url="{% url 'knowledge:index' %}" aria-hidden="true">
        <option value="">{% trans "Knowledge Centers Library" %}</option>
        {% for center in centers %}
          <option value="{{ center.slug }}">{{ center.name }}</option>
        {% endfor %}
      </select>
    </div>
    {% if object.photo %}
      <img src="{% thumbnail object.photo 1168x370 crop=True %}" alt="{{ object.name }}">
    {% else %}
      <img src="http://placehold.it/1168x370.jpg" alt="{{ object.name }}">
    {% endif %}
  </div>

  <h2 class="no-margin grid-all-double-padded border-bottom">{{ object.description|safe }}</h2>

  <div class="row collapse" id="main-equalizer" data-equalizer data-equalize-on="medium">
    {% for col in cols %}
      <div class="large-3 medium-4 columns {% if not forloop.last %}border-end {% endif %}listing-col topics-col items-col-{{forloop.counter}}{% if forloop.counter == 4 %} show-for-large{% endif %}" data-equalizer-watch>
        {% for item in col %}
          <section class="grid-top-padded border-bottom listing-item">
            <span class="category-tag">{{ item.type_description }}</span>
            <div class="grid-all-padded">
              <h3><a href="{{item.get_absolute_url}}">{{item.computed_title}}</a></h3>
              <div>
                {{item.computed_content|safe|truncatewords_html:60}}
              </div>
              <div class="grid-top-margin grid-bottom-padded"><a href="{{ item.get_absolute_url }}">{% trans "Read More" %}</a></div>
              {% if item.attachment %}
                <div class="text-center">
                  <a href="{{ item.attachment.url }}" class="text-large alt-blue title-font button">{% trans "View Document" %}</a>
                </div>
              {% endif %}
              {% if item.url %}
                <div class="text-center">
                  <a href="{{ item.url }}" class="text-large alt-blue title-font button" target="_blank" rel="noopener">{% trans "Visit Link" %}</a>
                </div>
              {% endif %}
            </div>
          </section>
        {% endfor %}
      </div>
    {% empty %}
      <div class="large-margined row collapse">
        <div class="medium-4 medium-offset-4 columns">
          <div class="callout warning text-center">
            {% blocktrans %}No content found{% endblocktrans %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{%  endblock %}
